.header {
  background: url(../images/home-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 296px;
  padding-bottom: 296px;
    .header-box{
      text-align: right;
    }
    h2{
      font-weight: normal;
      display: block;
      color:#650300;
    }
    h3{
      font-weight: bold;
      color:#650300;
    }
    .but-shop {  
        max-width: 104px;
        float:right;
        a{
          display: block;
          background: #AA0601;
          padding: 6px 12px;
      }
    }
}

.professional{
  padding: 80px 0px;
  margin: 0px auto;
  h4{
    text-align: center;
  }
  .box_item{
    align-items: center;
    justify-content: center;
    padding-top: 36.5px;
    li{
      padding-right: 24px;
    }
    .item_inside{
      max-width: 306px;
      h5{
        text-align: center;
        padding-bottom: 8px;
        font-weight: bold;
      }
      .pic{
        padding: 0px 105px 24.08px 105px;
      }
    }
  }
}

.classic{
  padding: 80px 0px;
      img{
        margin-bottom: 8px;
      }
      .title{
        margin-bottom: 48px;
        text-align: center;
      }
      li {
        h4  {
          text-align: center;
          font-family: 'Roboto';
          font-style: italic;
          }
      }
      li:not(:last-child){
        padding-right: 24px;
      }
}

.banner{
  padding: 80px 0px;
  background: url(../images/index-bg.png);
  background-size: contain;
  .title{
    padding-bottom: 48px;
    text-align: center;
  }
  .banner_box{
    h4{
      text-align: center;
      background: white;
      padding:8px 0px;
      font-family: 'Roboto';
      font-style: italic;
    }
  }
}

.recommend{
  padding:80px 0px;
  .title{
    text-align: center;
    padding-bottom: 48px;
  }
  li{
    max-width: 306px;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    box-shadow: 0px 2px 6px #00000029;
    opacity: 1;

    .img_box{
      padding-bottom: 16px;
      height: 306px;
      overflow: hidden;
    }
    .rec_title{
      height: 205px;
      padding: 16px;
      flex-direction: column;
      justify-content: space-between;
        .item p{
          padding-bottom: 8px;
        }
    }
  }
  li:not(:last-child){
    margin-right: 24px;
  }
}

.contact_me{
  background: #FBF2F2;
  padding: 80px 0px;
  .contact_box{
    margin: 0px auto;
    max-width: 34%;
    h4{
      text-align: center;
      padding-bottom: 48px;
    }
    p{
      padding-bottom: 24px;
    }
  }
  .form{
    p{
      padding-bottom: 8px;
    }
    .input{
      border: 1px solid #000000;
      padding: 6px 12px;
      margin-bottom: 16px;
        span{
          color:#000000;
          text-transform: uppercase;
          opacity:  0.2;
        }
    }
    .text_box{
      height: 136px;
    }
    .privacy{
      align-items: center;
      padding-bottom: 48px;
      input[type="checkbox" i] {
        margin: 0px 4px 0px 0px;
      }
      p{
        margin: 0px;
        padding: 0px;
      }
    }
  }
  
  .form_btn{
    margin: 0px auto;
    width: 416px;
    padding: 16px 0px;
    line-height: 150%;
    background: #AA0601;
    text-align: center;
  }
  a{
    display: block;
  }
  a:hover{
    background:pink;
    color:#650300;
    transition: 0.3s;
  }
}

@media(max-width: 767px){
  .header{
    background: url(../images/home-header-sm.png);
  }
  .professional{
    .box_item{
      flex-wrap: wrap;
      align-items: start;
      padding-top: 32.33px;
      padding-left: 12px;
      padding-right: 12px;
      li{
        padding: 0px 12px;

      }
      .item_inside {
        max-width: 50%;
      }
    }
  }
  .card_box{
      padding-top: 0px;
      ul{
      flex-direction: column;
      align-items: center;
        li{
          max-width: 336px;
        }
        li:not(:last-child){
          padding-bottom: 24px;
        }
       }
    }
    .banner{
      background: url(../images/index-bg-sm.png);
      .banner_box{
        flex-direction: column;
        padding: 0px 24px;
      }
      .bouble{
        padding-bottom: 24px;
      }
  }
  
  .recommend{
    ul{
      flex-wrap: wrap;
      justify-content: center;
      gap:24px 24px;
      li:not(:last-child) {
        margin-right: 0px;
    }
    }
    li{
      margin-right: 0px;
      max-width: 336px;
    }
    
  }
  .contact_me .contact_box {
    margin: 0px auto;
    max-width: 77%;
  }
  .nav_bot_icon li:not(:last-child) {
    margin-right: 16px;
  }
}



